*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
:root {
    --menu-color:#fefaff;
    --menu-color:white;
    --sidebar-width: 130px
}
html {
    background-color: var(--menu-color);

    scrollbar-width: none;
}
p {
    font-size: 1.1rem;
}

.hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 15px;
    z-index: 1000;
}
.container{
    box-sizing: border-box;
    margin-top: 45px;
    margin-left: 0px;
    display: flex;
    align-items: flex-start;    
    flex-direction: row;  
    flex-wrap: wrap;

}
/* the display flex at first seemed redundant as it only got rid of the bullet points
   but it will be useful in the future as I might want to add a checkmark next to the items
   or lists
*/
.container .lists, .container .items{
    width: 100%;
    
}

.container .lists .list, .container .items .item{
    display: flex;
    align-items: center;
    transition: flex-grow 0.7s ease;

    border: rgb(0, 0, 0) 1px solid;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 3px; 
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
}
.completed-item .data-text-display {
    opacity: 0.5;
    text-decoration: line-through;
}
.inner{
    background: white;
    width: 30px;
    border: 0.5px solid rgb(0, 0, 0);

    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 3px 3px 5px 1px rgb(0, 0, 0, 0.15), inset -3px -3px 5px 1px rgb(0, 0, 0, 0.15);
      /* ... existing styles ... */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .inner p{
    font-size: 10px;
  }
.circular-progress {
    position: relative;
    border: 0.5px solid rgb(0, 0, 0);
    padding: 2.5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background:
      conic-gradient(#ffffff 100%, rgba(0, 0, 0, 0.0) 0%),
      radial-gradient(farthest-corner at 54px 4px, #f35 10%, #43e 100%);
    background-size: 100% 100%, 100% 100%;
    background-position: center, center;
    box-sizing: border-box;
  }
.item-descriptions-container{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    justify-content: space-between;
}

.title-list {
    text-align: center;
    width: 100%;
    height: 50px;    
}
.title-items {
    text-align: center;
    width: 100%;
    height: 50px;
}
.list, .item {
    cursor: pointer;
    height: 50px;
}
.container-sidebar{
    position: fixed;
    
    top: 0;
    left: 0;
    width: 150px;
    display: flex;
    height: 100vh;

}
.sidebar {
    position: fixed;
    top: 0;
    background-color: var(--menu-color);
    left: calc(-1 * var(--sidebar-width)); /* Initially hidden */
    width: var(--sidebar-width);
    height: 100vh; /* Sidebar height adjusted */

    transition: left 0.7s ease; /* Smooth transition */
    z-index: 100;
    border-radius: 0px 10px 10px 0px; /* Makes the corners rounded */
    border: 4px solid transparent; /* Ensure the border exists */
    background-image: linear-gradient(var(--menu-color), var(--menu-color)),
    linear-gradient(to right, #f35, #43e);
    background-origin: border-box;
    background-clip: padding-box, border-box;

}


.sidebar-item{
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    gap: 7px;
    top: 55px;
    margin-left: 15px;
}
.container-fa{
    position: relative;
    background-color: white;
    display: inline-block;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    text-align: center;


}
.fa {
    position: relative;
    bottom: 3px;
    width: 16px;
    height: 16px;
    

}
.circle{
    background-color: white;
    width:20px;
    height:20px;
    border-radius:50%;
    position:relative;
    display:inline-block;
    vertical-align:middle;
  }
  .circle.plus:before,
  .circle.plus:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background:black;
  }
  .circle.plus:before{
      width: 2.25px;
      margin: 3px auto;
  }
  .circle.plus:after{
      margin: auto 3px;
      height: 2.25px;
  }

.gg-arrow-left-o {
box-sizing: border-box;
position: relative;
display: block;
width: 22px;
height: 22px;
border: 2px solid;
transform: scale(var(--ggs, 1));
border-radius: 22px;
}
.gg-arrow-left-o::after,
.gg-arrow-left-o::before {
content: "";
display: block;
box-sizing: border-box;
position: absolute;
left: 4px;
}
.gg-arrow-left-o::after {
width: 6px;
height: 6px;
border-bottom: 2px solid;
border-left: 2px solid;
transform: rotate(45deg);
bottom: 6px;
}
.gg-arrow-left-o::before {
width: 10px;
height: 2px;
bottom: 8px;
background: currentColor;
}
#lists-page{
    display: block;
}

#lists-page, #items-page {

    width: 100%; /* Adjust for sidebar width%*/

    transition: margin-left 0.7s, width 0.7s;

}
#items-page {
    display: none;    
}
.hint{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.hint .text {
    visibility: hidden;
}
.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between
}


.edit-button, .delete-button, .right-caret {
    font-size: 1.5rem;
    flex-grow: 1;
    align-self: center;
    cursor: pointer;
}
.right-caret{
    font-size: 2rem;
}
.left-caret{
    align-self: center;
    cursor: pointer;
    font-size: 2rem;
    margin-right: 0.5rem;
    
}
.left-button-wrapper{
    display: flex;
    align-items: center;
}

@media (min-width: 481px){
    p{
        font-size: 1.3rem;
    }
    h2{
        font-size:2rem;
    }
    .list, .item, .title-list, .title-items{
        height: 65px;
    }
    .circular-progress {
        width: 55px;
        height: 55px;
    }
    .inner{
        width: 30px;
        height: 30px;
    }
    .inner p{
        font-size: 10px;
    }
    .left-caret{
        font-size: 2.5rem;
    }
    
    .edit-button, .delete-button, .right-caret {
        font-size: 2rem;
    }
    .right-caret{
        font-size: 2.5rem;
    }
    
    :root{
        --sidebar-width: 130px;
    }
}
@media (min-width: 769px){

    :root {
        --sidebar-width: 160px;
    }
    h2{
        font-size: 2.25rem;
    }
}
@media (min-width: 992px){
    :root{
        --sidebar-width: 180px;
    }
    p{
        font-size: 1.6rem;
    }
    h2{
        font-size: 2.5rem;
    }
    .edit-button, .delete-button, .right-caret {
        font-size: 3rem;
    }
    .right-caret{
        font-size: 3.5rem;
    }
    .left-caret{
        font-size: 3.5rem;
    }
    .circular-progress {
        width: 65px;
        height: 65px;
    }
    .inner{
        width: 35px;
        height: 35px;
    }
    .inner p{
        font-size: 12px;
    }
    .list, .item, .title-list, .title-items {
        height: 80px;
    }

}

